@model PresentationMVC.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Cliente";
}

<h4>Crear Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Cliente/Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre completo" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" placeholder="Apellidos"/>
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" placeholder="Digite la dirección"/> 
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}