@{
    ViewData["Title"] = "Página Prícipal";
}

<div class="text-center">
    <h1 class="display-4">Control total de clientes</h1>
    <p>Learn about <a href="https://www.oriontek.do/">We count on a great team ready to assist you.</a>.</p>
</div>
